@charset "UTF-8";
/*pages and configurations default*/
/*Color palets*/
/*Fonts*/
@import url("../vendor/bootstrap/scss/bootstrap.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/
@font-face {
  font-family: 'Cooper Hewitt';
  src: url("../fontes/CooperHewitt-Medium.woff2") format("woff2"), url("../fontes/CooperHewitt-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
a {
  text-decoration: none !important; }

a, button, input {
  outline: none !important; }

a, h5, h6, label, input, tr, td, table, .card-text, .card-title {
  font-family: "Open Sans", sans-serif !important; }

.cursor {
  cursor: pointer; }

p {
  font-family: 'Cooper Hewitt'; }

h1, h2, h3, h4 {
  font-family: 'Open Sans';
  font-weight: 800; }

a, p {
  font-size: 14px;
  font-weight: 300; }

.nav-color {
  background: transparent !important; }

.modal {
  z-index: 99999; }

.bar {
  background-color: #ff731e;
  width: 40px;
  height: 5px;
  display: block; }

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  content: "";
  border-width: 5px 5px 5px 0;
  border-right-color: #853d34;
  opacity: 1 !important; }

.tooltip-inner {
  max-width: 300px;
  padding: 8px 10px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: 'gotham-ultra';
  background-color: #853d34;
  border-radius: .25rem;
  opacity: 1 !important; }

.navbar {
  z-index: 999; }

.navbar-nav {
  margin-top: -26px; }
  .navbar-nav .nav-item {
    color: #ffffff !important;
    font-weight: bold;
    padding-top: 20px; }
    .navbar-nav .nav-item .nav-link {
      color: #ffffff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .navbar-nav .nav-item .nav-link:after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
      .navbar-nav .nav-item .nav-link:hover {
        color: #ff731e;
        font-weight: bold; }
  .navbar-nav .cadastrar {
    background: #ff731e;
    border-radius: 4px 0 0 4px;
    font-weight: bold; }
  .navbar-nav .login {
    background: #c04902;
    border-radius: 0 4px 4px 0;
    font-weight: bold; }
  .navbar-nav .cadastrar:hover,
  .navbar-nav .login:hover {
    background: #ffffff; }
  .navbar-nav .active {
    color: #ffffff !important;
    border-top: 6px solid #ff731e; }
    .navbar-nav .active .nav-link {
      padding: 2px 13px;
      background: #ff731e;
      border-radius: 40px;
      color: #ffffff !important; }
      .navbar-nav .active .nav-link:hover {
        color: #ffffff !important;
        font-weight: bold; }

.bg-scroll {
  background-color: #fff !important;
  width: 100% !important;
  z-index: 1 !important;
  position: fixed !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .bg-scroll .nav-item {
    color: #2a2a2a !important; }
    .bg-scroll .nav-item .nav-link {
      color: #2a2a2a; }
  .bg-scroll .cadastrar {
    background: #ff731e;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .login {
    background: #c04902;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .cadastrar:hover,
  .bg-scroll .login:hover {
    background: #db6722;
    color: #ffffff !important; }

.color-default {
  color: #ff731e; }

.bold {
  font-weight: bold; }

.btn-default {
  color: #ffffff !important;
  background-image: linear-gradient(to right, #ff731e, #c04902) !important;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; }

.green {
  background-image: linear-gradient(to right, #00c832, #00c832) !important;
  color: #575757 !important;
  font-weight: normal; }

.btn-download {
  color: #292929 !important;
  background-color: #ebe9e9 !important;
  border: 1px solid #ebe9e9;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-download:hover {
  background-color: #d4d2d2 !important;
  border: 1px solid #d4d2d2; }

.btn-transparent {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 1px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px; }

.btn-transparent:hover {
  background-color: #ff731e !important;
  border: 1px solid #ff731e; }

.inputgroupicon {
  position: relative; }
  .inputgroupicon .input-search {
    border-radius: 30px;
    height: 40px;
    background: transparent;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    padding: 10px 40px;
    font-size: 15px;
    max-width: 170px; }
  .inputgroupicon .icon-search {
    position: absolute;
    color: #2a2a2a;
    font-size: 20px;
    display: block;
    top: 12px;
    left: 15px; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff7307;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 7, 0.25); }

form#sendmessage input {
  background: #dbdbdb;
  color: #292929;
  border-radius: 10px;
  height: 55px;
  margin-bottom: 15px; }
form#sendmessage textarea {
  background: #dbdbdb;
  color: #292929;
  border-radius: 21px;
  margin-bottom: 15px;
  padding: 20px; }
form#sendmessage button {
  cursor: pointer; }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-home {
  position: relative;
  height: 768px; }
  header#header-home nav {
    position: absolute;
    top: 0;
    width: 100%; }
  header#header-home .content-carousel {
    width: 100%;
    display: block;
    margin: 0 auto;
    cursor: grab;
    z-index: 1; }
  header#header-home .owl-carousel {
    right: 0;
    left: 0;
    margin: auto; }
    header#header-home .owl-carousel .itemslide {
      width: 100%;
      height: 768px;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 280px; }
      header#header-home .owl-carousel .itemslide .description .title {
        color: #ffffff !important;
        line-height: 55px;
        font-size: 3.5em; }
        header#header-home .owl-carousel .itemslide .description .title .title-gradient {
          background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
          /* For Chrome and Safari */
          background-image: -moz-linear-gradient(right, #ff731e, #c04902);
          /* For old Fx (3.6 to 15) */
          background-image: -ms-linear-gradient(right, #ff731e, #c04902);
          /* For pre-releases of IE 10*/
          background-image: -o-linear-gradient(right, #ff731e, #c04902);
          /* For old Opera (11.1 to 12.0) */
          background-image: linear-gradient(right, #ff731e, #c04902);
          /* Standard syntax; must be last */
          color: transparent;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent; }
      header#header-home .owl-carousel .itemslide .description .text {
        font-weight: bold;
        color: #ff731e; }
    header#header-home .owl-carousel .owl-controls .owl-dot {
      background-size: cover;
      margin-top: 10px; }
    header#header-home .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50px;
      right: 205px;
      background-color: #c04902;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    header#header-home .owl-carousel .owl-nav .owl-prev:hover, header#header-home .owl-carousel .owl-nav .owl-next:hover {
      background-color: #ff731e; }
    header#header-home .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 450px;
      right: 205px;
      background-color: #c04902;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    header#header-home .owl-carousel .owl-dots {
      position: absolute;
      left: 80px;
      bottom: -7px; }
      header#header-home .owl-carousel .owl-dots .active {
        border: 4px solid #ff731e;
        border-radius: 10px; }
    header#header-home .owl-carousel .owl-dot {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 145px;
      height: 94px;
      margin-bottom: 10px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -o-border-radius: 10px; }
  @media (max-width: 850px) {
    header#header-home .balls-shapes, header#header-home .owl-dots {
      display: none; }
    header#header-home .title-slider::after {
      display: none; }
    header#header-home .title-slider::before {
      width: 300px;
      height: 277px;
      top: 20px; }
    header#header-home .owl-carousel .owl-nav .owl-prev {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      left: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header-home .owl-carousel .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      margin-top: -20px;
      right: 15px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
    header#header-home .owl-carousel .itemslide {
      width: 100%; }
      header#header-home .owl-carousel .itemslide .description {
        background-image: none;
        background-color: rgba(51, 51, 51, 0.7);
        padding: 18px 18px;
        text-align: center;
        margin-top: -100px;
        position: inherit; }
        header#header-home .owl-carousel .itemslide .description .title {
          text-align: center;
          line-height: 36px;
          font-size: 36px; }
          header#header-home .owl-carousel .itemslide .description .title .title-one {
            font-family: 'gotham-book';
            text-transform: uppercase;
            font-size: 15px;
            color: #ffffff !important;
            letter-spacing: 1px; }
        header#header-home .owl-carousel .itemslide .description .text {
          text-align: center;
          font-size: 13px;
          line-height: 15px; } }

section#especialties {
  position: relative;
  min-height: 210px;
  color: #ffffff !important;
  background-position: top;
  background-attachment: initial; }
  section#especialties .esp1 {
    background: #ff731e; }
  section#especialties .esp2 {
    background: #c04902; }
  section#especialties .especiality {
    padding: 45px 70px;
    width: 50%;
    float: left;
    min-height: 210px; }
    section#especialties .especiality .icon {
      color: #ffffff;
      float: left;
      font-size: 60px;
      margin-right: 20px;
      margin-bottom: 20px; }
    section#especialties .especiality p {
      font-size: 20px;
      font-weight: 800;
      float: left;
      color: #ffffff !important; }
      section#especialties .especiality p span {
        font-weight: normal; }
  @media (max-width: 850px) {
    section#especialties .especiality {
      width: 100%;
      float: none;
      min-height: 410px; } }

@media (max-width: 850px) {
  section#especialties {
    min-height: 410px; } }
section#functions {
  color: #333333 !important;
  position: relative;
  min-height: 814px;
  padding: 70px 0;
  margin-top: 16px; }
  section#functions:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: url("../images/phone.png");
    width: 735px;
    height: 961px; }
  section#functions .title {
    color: #2a2a2a  !important;
    line-height: 55px;
    font-size: 3.5em; }
    section#functions .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#functions .title-float {
    opacity: 0.1;
    font-size: 65px !important;
    text-transform: uppercase;
    font-family: 'gotham-ultra'; }
  section#functions .subtitle {
    font-size: 20px;
    margin-top: -40px;
    color: #2a2a2a; }
  section#functions p {
    color: #333333 !important; }
  @media (max-width: 850px) {
    section#functions:after {
      display: none; }
    section#functions .remove-mobile {
      display: none; }
    section#functions .-aux {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
    section#functions .texto-historia {
      position: initial;
      top: auto;
      left: auto;
      float: initial;
      width: 100%; }
      section#functions .texto-historia p {
        width: 100%; }
    section#functions .align-owl {
      position: initial;
      top: auto;
      left: auto;
      width: 100%;
      clear: both;
      margin: 80px 0; }
      section#functions .align-owl .owl-nav {
        width: auto;
        position: absolute;
        top: auto;
        right: 0px;
        bottom: -56px; } }

@media (max-width: 850px) {
  section#functions {
    background: url(""); } }
section#functions-advanced {
  padding-bottom: 70px; }
  section#functions-advanced .title {
    color: #2a2a2a !important;
    line-height: 55px;
    font-size: 3.5em; }
    section#functions-advanced .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#functions-advanced .fadv {
    min-height: 221px;
    border-radius: 10px;
    color: #ffffff;
    position: relative;
    padding: 20px;
    margin-bottom: 10px; }
    section#functions-advanced .fadv .description {
      position: absolute;
      bottom: 20px;
      padding-right: 20px; }
      section#functions-advanced .fadv .description a {
        color: #ffffff;
        font-size: 20px; }
  section#functions-advanced .fadv1 {
    background-image: url("../images/fadv1.png");
    background-repeat: no-repeat;
    background-size: cover; }
  section#functions-advanced .fadv2 {
    background-image: url("../images/fadv2.png");
    background-repeat: no-repeat;
    background-size: cover; }

section#conection {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
  background-color: #2a2a2a;
  color: #ffffff !important; }
  section#conection .title {
    color: #ffffff !important;
    line-height: 55px;
    font-size: 3.5em; }
    section#conection .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#conection .item-conection {
    border: 1px solid #484848;
    padding: 40px 30px; }
    section#conection .item-conection:hover {
      background: #ff731e;
      background-image: linear-gradient(to right, #ff731e, #c04902); }
  @media (max-width: 850px) {
    section#conection .title {
      color: #ffffff !important;
      line-height: 55px;
      font-size: 2.5em; }
    section#conection .item-conection {
      margin-bottom: 10px; } }

section#services {
  padding-top: 150px;
  padding-bottom: 70px;
  position: relative; }
  section#services:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url("../images/woman.png");
    width: 470px;
    height: 553px; }
  section#services:before {
    content: 'serviços';
    position: absolute;
    right: 106px;
    top: 244px;
    font-size: 138px;
    transform: rotate(-90deg);
    font-family: 'Open Sans';
    font-weight: 800;
    color: #2a2a2a;
    opacity: 0.1;
    text-transform: uppercase; }
  section#services #accordion .card {
    border: none;
    margin-bottom: 5px; }
    section#services #accordion .card .card-header {
      background-color: #f4f4f4 !important;
      border-radius: 5px;
      padding: 0px; }
      section#services #accordion .card .card-header h5 button {
        color: #292929;
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: 15px;
        background: transparent;
        border: 0px;
        width: 100%;
        text-align: left;
        padding: 1rem 1.25rem;
        cursor: pointer; }
        section#services #accordion .card .card-header h5 button:hover {
          color: #fff;
          text-decoration: none; }
      section#services #accordion .card .card-header:hover {
        background-image: linear-gradient(to right, #ff731e, #c04902);
        color: #fff !important; }
    section#services #accordion .card .collapse {
      border: 1px solid #dbdbdb; }
    section#services #accordion .card .title {
      text-transform: uppercase;
      font-size: 15px;
      margin-top: 10px; }
  section#services .ocultadesktop {
    display: none; }
  @media (max-width: 850px) {
    section#services .ocultadesktop {
      display: block;
      margin-bottom: 20px; }
      section#services .ocultadesktop .title {
        color: #2a2a2a !important;
        line-height: 55px;
        font-size: 2.5em;
        text-transform: uppercase; }
    section#services:after {
      background-image: none; }
    section#services:before {
      content: ''; } }

section#phrasestruct {
  background: url("../images/bg-line.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 385px;
  text-align: center;
  color: #ffffff;
  padding-top: 80px; }
  section#phrasestruct p {
    font-size: 30px;
    margin-bottom: 0px; }
  section#phrasestruct h2 {
    font-size: 40px; }
  @media (max-width: 850px) {
    section#phrasestruct p {
      font-size: 24px; }
    section#phrasestruct h2 {
      font-size: 25px; } }

@media (max-width: 850px) {
  section#services {
    padding-top: 22px; }

  section#phrasestruct {
    padding-top: 47px; } }
section#crm {
  padding: 70px 0; }
  section#crm .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px; }
    section#crm .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#crm .item-crm {
    background-color: #ececec !important;
    color: #2a2a2a !important;
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 10px; }
    section#crm .item-crm h3 {
      font-size: 25px; }
    section#crm .item-crm:hover {
      background-image: linear-gradient(to right, #ff731e, #c04902);
      color: #fff !important; }
  section#crm .tooltip-inner {
    background-color: #00cc00 !important; }
  section#crm .tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #00cc00 !important; }
  section#crm .tooltip.bs-tooltip-left .arrow:before {
    border-right-color: #00cc00 !important; }
  section#crm .tooltip.bs-tooltip-bottom .arrow:before {
    border-right-color: #00cc00 !important; }
  section#crm .tooltip.bs-tooltip-top .arrow:before {
    border-right-color: #00cc00 !important; }

section#ddd {
  padding-bottom: 70px; }
  section#ddd .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px; }
    section#ddd .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#ddd .title-table {
    color: #575757 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 800; }
  section#ddd .tableddd thead {
    background: #f7f7f7; }
    section#ddd .tableddd thead tr th {
      color: #575757 !important; }
  section#ddd .button-ddd {
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    height: 50px;
    color: #7d7d7d;
    font-size: 30px; }
  section#ddd .search-ddd {
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    height: 50px; }

section#depoimentos {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #2a2a2a;
  position: relative; }
  section#depoimentos .owl-nav {
    position: absolute;
    left: 47%; }
    section#depoimentos .owl-nav .owl-prev {
      background-color: #c04902;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
    section#depoimentos .owl-nav .owl-prev:hover,
    section#depoimentos .owl-nav .owl-next:hover {
      background-color: #ff731e; }
    section#depoimentos .owl-nav .owl-next {
      background-color: #c04902;
      color: #ffffff;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 14px;
      z-index: 1;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      overflow: hidden;
      -webkit-transition-property: color;
      transition-property: color;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -o-border-radius: 100%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  @media (max-width: 850px) {
    section#depoimentos .owl-nav {
      left: 41%; } }

section#promotions {
  padding-bottom: 70px;
  padding-top: 70px; }
  section#promotions .rounded-lg {
    border-radius: 1rem !important; }
  section#promotions .h640 {
    height: 640px; }
    section#promotions .h640:hover {
      border: 6px solid #ff731e; }
  section#promotions .text-small {
    font-size: 0.9rem !important; }
  section#promotions .f-18 {
    font-size: 18px; }
  section#promotions .f-19 {
    font-size: 19px; }
  section#promotions .custom-separator {
    width: 5rem;
    height: 6px;
    border-radius: 1rem; }
  section#promotions .bg-default {
    background-image: linear-gradient(to right, #ff731e, #c04902) !important; }
  section#promotions .h6 {
    font-size: 22px; }
  section#promotions .h1 {
    line-height: 20px; }
    section#promotions .h1 span {
      font-size: 24px; }
    section#promotions .h1 .f-18 {
      font-size: 18px; }
    section#promotions .h1 .f-19 {
      font-size: 19px; }
  section#promotions .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px; }
    section#promotions .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

section#contact {
  padding-bottom: 70px; }
  section#contact .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px; }
    section#contact .title .title-gradient {
      background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
      /* For Chrome and Safari */
      background-image: -moz-linear-gradient(right, #ff731e, #c04902);
      /* For old Fx (3.6 to 15) */
      background-image: -ms-linear-gradient(right, #ff731e, #c04902);
      /* For pre-releases of IE 10*/
      background-image: -o-linear-gradient(right, #ff731e, #c04902);
      /* For old Opera (11.1 to 12.0) */
      background-image: linear-gradient(right, #ff731e, #c04902);
      /* Standard syntax; must be last */
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  section#contact .phone {
    font-size: 65px; }
  section#contact .phone-input {
    background: #dbdbdb;
    color: #292929;
    height: 75px;
    margin-bottom: 15px; }
  section#contact .phone-btn {
    border: 0px;
    height: 75px;
    font-size: 30px; }
  @media (max-width: 850px) {
    section#contact .phone {
      font-size: 38px; } }

.modal-title {
  transform: rotate(-90deg);
  font-size: 45px; }
  .modal-title span {
    background-image: -webkit-linear-gradient(right, #ff731e, #c04902);
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(right, #ff731e, #c04902);
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(right, #ff731e, #c04902);
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(right, #ff731e, #c04902);
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(right, #ff731e, #c04902);
    /* Standard syntax; must be last */
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

footer#footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
  background: #2a2a2a;
  color: #ffffff; }
  footer#footer a {
    color: #ffffff;
    font-size: 13px; }
    footer#footer a:hover {
      color: #ff731e; }
  footer#footer p {
    font-size: 13px; }
  footer#footer h5 {
    font-weight: bold;
    font-size: 14px; }
  footer#footer .copy {
    color: #ffffff; }
  footer#footer .dev {
    color: #ffffff;
    text-align: left; }
    footer#footer .dev a {
      font-weight: bold;
      color: #ffffff; }
  footer#footer .redesocial {
    font-size: 28px;
    margin-right: 10px;
    margin-left: 5px; }
  @media (max-width: 850px) {
    footer#footer .copy, footer#footer .dev {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
