    /*
    Flaticon icon font: Flaticon
    Creation date: 10/04/2019 20:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-money:before { content: "\f100"; }
.flaticon-translator:before { content: "\f101"; }
.flaticon-call:before { content: "\f102"; }
.flaticon-respect:before { content: "\f103"; }
.flaticon-server:before { content: "\f104"; }
.flaticon-web:before { content: "\f105"; }
.flaticon-language:before { content: "\f106"; }
.flaticon-presentation:before { content: "\f107"; }
.flaticon-see:before { content: "\f108"; }
.flaticon-document:before { content: "\f109"; }
.flaticon-gears:before { content: "\f10a"; }
.flaticon-available:before { content: "\f10b"; }
.flaticon-hacker:before { content: "\f10c"; }
.flaticon-customer-service:before { content: "\f10d"; }
.flaticon-research:before { content: "\f10e"; }
.flaticon-pdf:before { content: "\f10f"; }
.flaticon-right-arrow:before { content: "\f110"; }
.flaticon-bookmark:before { content: "\f111"; }
    
    $font-Flaticon-money: "\f100";
    $font-Flaticon-translator: "\f101";
    $font-Flaticon-call: "\f102";
    $font-Flaticon-respect: "\f103";
    $font-Flaticon-server: "\f104";
    $font-Flaticon-web: "\f105";
    $font-Flaticon-language: "\f106";
    $font-Flaticon-presentation: "\f107";
    $font-Flaticon-see: "\f108";
    $font-Flaticon-document: "\f109";
    $font-Flaticon-gears: "\f10a";
    $font-Flaticon-available: "\f10b";
    $font-Flaticon-hacker: "\f10c";
    $font-Flaticon-customer-service: "\f10d";
    $font-Flaticon-research: "\f10e";
    $font-Flaticon-pdf: "\f10f";
    $font-Flaticon-right-arrow: "\f110";
    $font-Flaticon-bookmark: "\f111";