

body{
    overflow-x: hidden;
    background-color: $body-color;
}

.tooltip.show {
    opacity: 1!important;
}

.tooltip-inner {
    max-width: 100%;
    padding: 25px 35px;
    color: $black;
    width: 540px;
    text-align: center;
    background-color: $white!important;
    border-radius: .25rem;
    font-weight: normal!important;
    margin-top: -5px;
    font-family: 'Open Sans'!important;
    font-size: 14px;
    -webkit-box-shadow: 0px 14px 28px -7px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 14px 28px -7px rgba(0,0,0,0.29);
    box-shadow: 0px 14px 28px -7px rgba(0,0,0,0.29);
}

@media (max-width: $screen-xs){
    .tooltip-inner {
        width: 345px;
    }
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus{
    box-shadow: none;
}

/* .tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    content: "";
    margin-left: -3px;
    margin-top: -15px;
    border-width: 15px 15px 0;
    border-top-color: $white!important;
} */

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    /* margin-top: -15px; */
    border-width: 15px 15px 0;
    border-bottom-color: white !important;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    /* margin-top: -15px; */
    border-width: 15px 15px 0;
    border-top-color: white !important;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    /* margin-top: -15px; */
    border-width: 15px 15px 0;
    border-left-color: white !important;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    /* margin-top: -15px; */
    border-width: 15px 15px 0;
    border-right-color: white !important;
}

header#header-home{
   position: relative;
   height: 768px;

   nav{
       position: absolute;
       top: 0;
       width: 100%;
   }

   .content-carousel {
        width: 100%;
        display: block;
        margin: 0 auto;
        cursor: grab;
        z-index: 1;
    }
    .owl-carousel {
        right: 0;
        left: 0;
        margin: auto;

        .itemslide{
            width: 100%;
            height: 768px;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 280px;

            .description{
                .title {
                    color: $white !important;
                    line-height: 55px;
                    font-size: 3.5em;
                    .title-gradient{
                         background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For Chrome and Safari */
                         background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For old Fx (3.6 to 15) */
                         background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For pre-releases of IE 10*/
                         background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* For old Opera (11.1 to 12.0) */
                         background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
                         /* Standard syntax; must be last */
                         color:transparent;
                         -webkit-background-clip: text;
                         -webkit-text-fill-color: transparent;
                    }
                }

                .text{
                    font-weight: bold;
                    color: $dlink;
                }
            }
        }

        .owl-controls .owl-dot {
            background-size: cover;
            margin-top: 10px;
        }
        
        .owl-nav{
            .owl-prev{
                position: absolute;
                top: 50px;
                right: 205px;
                background-color: $color-hover;
                color: $white;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 14px;
                z-index: 1;

                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                overflow: hidden;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                @include border-radius(10px);
                @include transform-rotate(90deg);
            }

            .owl-prev:hover, .owl-next:hover{
                background-color: $color-dynamic;

            }

            .owl-next{
                position: absolute;
                top: 450px;
                right: 205px;
                background-color: $color-hover;
                color: $white;
                width: 40px;
                height: 40px;
                text-align: center;
                font-size: 14px;
                z-index: 1;

                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                overflow: hidden;
                -webkit-transition-property: color;
                transition-property: color;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                @include border-radius(10px);
                @include transform-rotate(90deg);
            }
        }

        .owl-dots {
            position: absolute;
            right: 80px;
            bottom: 0px;
            height: 360px;
            overflow: hidden;

            /* .active {
                border: 4px solid $color-dynamic;
                border-radius: 10px;
            } */
        }

        

        .owl-dot {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 350px;
            height: 200px!important;
            display: block;
            margin-top: 10px;
            @include border-radius(20px);
        }
    } 

    @media (max-width: $screen-sm){
        
        .balls-shapes, .owl-dots {
            display: none;
        }

        .title-slider {
            &::after {
                display: none;
                
            }
     
            &::before {
                width: 300px;
                height: 277px;
                top: 20px;
               
            }
        }

        .owl-carousel{
            .owl-nav{
                .owl-prev{
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    left: 15px;
                    @include transform-rotate(0deg);
                }
    
                .owl-next{
                    position: absolute;
                    top: 50%;
                    margin-top: -20px;
                    right: 15px;
                    @include transform-rotate(0deg);
                }
            }

            .itemslide {
                width: 100%;
    
                .description{
                    background-image: none;
                    background-color: rgba(51, 51, 51, 0.7);
                    padding: 18px 18px;
                    text-align: center;
                    margin-top: -100px;
                    position: inherit;
                    
    
                    .title{
                        text-align: center;
                        line-height: 36px;
                        font-size: 36px;

                        .title-one {
                            font-family: 'gotham-book';
                            text-transform: uppercase;
                            font-size: 15px;
                            color: #ffffff !important;
                            letter-spacing: 1px;
                        }
                    }
    
                    .text{
                        text-align: center;
                        font-size: 13px;
                        line-height: 15px;
                    }
                }
            }
        }
    }
}

section#especialties {
    position: relative;
    color: $white !important;
    background-position: top;
    background-attachment: initial;
    background: rgba(255,115,30,1);
background: -moz-linear-gradient(left, rgba(255,115,30,1) 0%, rgba(255,115,30,1) 51%, rgba(192,73,2,1) 51%, rgba(192,73,2,1) 67%, rgba(192,73,2,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,115,30,1)), color-stop(51%, rgba(255,115,30,1)), color-stop(51%, rgba(192,73,2,1)), color-stop(67%, rgba(192,73,2,1)), color-stop(100%, rgba(192,73,2,1)));
background: -webkit-linear-gradient(left, rgba(255,115,30,1) 0%, rgba(255,115,30,1) 51%, rgba(192,73,2,1) 51%, rgba(192,73,2,1) 67%, rgba(192,73,2,1) 100%);
background: -o-linear-gradient(left, rgba(255,115,30,1) 0%, rgba(255,115,30,1) 51%, rgba(192,73,2,1) 51%, rgba(192,73,2,1) 67%, rgba(192,73,2,1) 100%);
background: -ms-linear-gradient(left, rgba(255,115,30,1) 0%, rgba(255,115,30,1) 51%, rgba(192,73,2,1) 51%, rgba(192,73,2,1) 67%, rgba(192,73,2,1) 100%);
background: linear-gradient(to right, rgba(255,115,30,1) 0%, rgba(255,115,30,1) 51%, rgba(192,73,2,1) 51%, rgba(192,73,2,1) 67%, rgba(192,73,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff731e', endColorstr='#c04902', GradientType=1 );

    .esp1 {
        background: $color-dynamic;
    }

    .esp2 {
        background: $color-dynamic2;
    }

    .-aux{
        padding: 45px 24px;
    }

    .especiality {
        /* padding: 45px 70px;
        width: 50%;
        float: left;
        min-height: 210px;
 */
        .icon {
            color: $white;
            float: left;
            font-size: 60px;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        p {
            span{
                font-weight: normal;
            }
            font-size: 20px;
            font-weight: 800;
            float: left;
            color: $white !important;
        }

    }

    @media (max-width: $screen-sm) {
        .especiality {
            width: 100%;
            float: none;
            min-height: 410px;
        }
    }
}

@media (max-width: $screen-sm) {
    section#especialties {
        min-height: 410px;
    }
}


section#functions {
    color: #333333 !important;
    position: relative;
    min-height: 814px;
    padding: 70px 0;
    /* margin-top: 16px; */

    &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        background-repeat: no-repeat;
        background-image: url('../images/phone.png');
        width: 735px;
        height: 961px;
    }

    .title {
        color: #2a2a2a  !important;
        line-height: 55px;
        font-size: 3.5em;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title-float {
        opacity: 0.1;
        font-size: 65px !important;
        text-transform: uppercase;
        font-family: 'gotham-ultra';
    }

    .subtitle {
        font-size: 20px;
        margin-top: -40px;
        color: #2a2a2a;
    }

    p {
        color: #333333 !important;
    }

    @media (max-width: $screen-sm) {
        &:after {
            display: none;
        }
        .remove-mobile{
            display: none;
        }
        .-aux {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .texto-historia {
            position: initial;
            top: auto;
            left: auto;
            float: initial;
            width: 100%;

            p {
                width: 100%;
            }
        }

        .align-owl {
            position: initial;
            top: auto;
            left: auto;
            width: 100%;
            clear: both;
            margin: 80px 0;

            .owl-nav {
                width: auto;
                position: absolute;
                top: auto;
                right: 0px;
                bottom: -56px;
            }
        }
    }
}

@media (max-width: $screen-sm) {

    section#functions {
        background: url('');
    }
}

section#functions-advanced {
    padding-bottom: 70px;
    .title {
        color: #2a2a2a !important;
        line-height: 55px;
        font-size: 3.5em;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .fadv{
        min-height: 221px;
        border-radius: 10px;
        color: $white;
        position: relative;
        padding: 20px;
        margin-bottom: 10px;

        .description{
            position: absolute;
            bottom: 20px;
            padding-right: 20px;

            a{
                color: $white;
                font-size: 20px;
            }
        }
    }

    .fadv1 {
        background-image: url('../images/fadv1.png');
        background-repeat: no-repeat;
        background-size: cover;

    }

    .fadv2 {
        background-image: url('../images/fadv2.png');
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}

section#conection {
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    background-color: #2a2a2a;
    color: $white !important;

    .title {
        color: $white !important;
        line-height: 55px;
        font-size: 3.5em;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .item-conection {
        border: 1px solid #484848;
        padding: 40px 30px;

        &:hover{
           background: $color-dynamic; 
           background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2);
        }
    }

    @media (max-width: $screen-sm) {

        .title {
            color: $white !important;
            line-height: 55px;
            font-size: 2.5em;
        }

        .item-conection {
            margin-bottom: 10px;
        }
    }
}



section#services {
    padding-top: 150px;
    padding-bottom: 70px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url('../images/woman.png');
        width: 470px;
        height: 553px;
    }

    &:before {
        content: 'serviços';
        position: absolute;
        right: 106px;
        top: 244px;
        font-size: 138px;
        transform: rotate(-90deg);
        font-family: 'Open Sans';
        font-weight: 800;
        color: #2a2a2a;
        opacity: 0.1;
        text-transform: uppercase;
    }
    
    #accordion {

        .card {
            border: none;
            margin-bottom: 5px;

            .card-header {
                background-color: #f4f4f4 !important;
                border-radius: 5px;
                padding: 0px;

                h5{
                    button {
                        color: #292929;
                        text-transform: uppercase;
                        font-family: 'Open Sans';
                        font-weight: bold;
                        font-size: 15px;
                        background: transparent;
                        border: 0px;
                        width: 100%; 
                        text-align: left;
                        padding: 1rem 1.25rem;
                        cursor: pointer;

                        &:hover {
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }

                &:hover {
                    background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2);
                    color: #fff !important;
                }
            }
            
            .collapse{
                border: 1px solid #dbdbdb;
            }

            .title {
                text-transform: uppercase;
                font-size: 15px;
                margin-top: 10px;
            }

        }
    }

    .ocultadesktop {
        display: none;
    }

    @media (max-width: $screen-sm) {

        .ocultadesktop {
            display: block;
            margin-bottom: 20px;

            .title {
                color: #2a2a2a !important;
                line-height: 55px;
                font-size: 2.5em;
                text-transform: uppercase;
            }
        }


        &:after {
            background-image: none;
        }

        &:before {
            content: '';
        }
    }
}

@media (max-width: $screen-xs) {
    section#services {
        position: initial!important;
    }
}



section#phrasestruct {
    background: url('../images/bg-line.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    text-align: center;
    color: $white;
    padding-top: 80px;

    p {
        font-size: 30px;
        margin-bottom: 0px;
    }

    h2 {
        font-size: 40px;
    }

    @media (max-width: $screen-sm) {
        p {
            font-size: 24px;
        }
        h2 {
            font-size: 25px;
        }
    }
}

@media (max-width: $screen-sm) {

    section#services {
        padding-top: 22px;
    }

    section#phrasestruct {
        padding-top: 47px;
    }
}

section#crm {
    padding: 70px 0;
    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .item-crm{
        background-color: #ececec !important;
        color: #2a2a2a !important;
        cursor: pointer;
        padding: 20px 40px;
        border-radius: 5px;
        margin-bottom: 10px;

        h3{
           font-size: 25px;
        }

        &:hover {
            background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2);
            color: #fff !important;
        }
    }

    /* .tooltip-inner {
        background-color: #00cc00 !important;
    }

    .tooltip.bs-tooltip-right .arrow:before {
        border-right-color: #00cc00 !important;
    }

    .tooltip.bs-tooltip-left .arrow:before {
        border-right-color: #00cc00 !important;
    }

    .tooltip.bs-tooltip-bottom .arrow:before {
        border-right-color: #00cc00 !important;
    }

    .tooltip.bs-tooltip-top .arrow:before {
        border-right-color: #00cc00 !important;
    } */

}

section#ddd{
    padding-bottom: 70px;

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title-table {
        color: #575757 !important;
        font-family: 'Open Sans',
        sans-serif !important;
        font-weight: 800;
    }

    .tableddd{
        thead {
            background: #f7f7f7;
            tr{
                th{
                    color: #575757 !important;
                }
            }
        }
    }

    .button-ddd{
        background: #f7f7f7;
        border: 1px solid #f7f7f7;
        height: 50px;
        color: #7d7d7d;
        font-size: 30px;
    }

    .search-ddd{
        background: #f7f7f7;
        border: 1px solid #f7f7f7;
        height: 50px;
    }
}

section#depoimentos {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #2a2a2a;
    position: relative;

    .title{
        text-align: center;
        color: #fff !important;
        line-height: 40px;
        font-size: 40px
    }

    .owl-nav {
        position: absolute;
        left: 47%;
        .owl-prev {
            background-color: $color-hover;
            color: $white;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 14px;
            z-index: 1;

            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            overflow: hidden;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            @include border-radius(100%);
            @include transform-rotate(90deg);
        }

        .owl-prev:hover,
        .owl-next:hover {
            background-color: $color-dynamic;

        }

        .owl-next {
            background-color: $color-hover;
            color: $white;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 14px;
            z-index: 1;

            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            overflow: hidden;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            @include border-radius(100%);
            @include transform-rotate(90deg);
        }
    }

    @media (max-width: $screen-sm) {

        .owl-nav {
            left: 41%;
        }
    }
}

section#promotions {
    padding-bottom: 70px;
    padding-top: 70px;

    .rounded-lg {
        border-radius: 1rem !important;
    }

    .h640{
        height: 640px;

        &:hover{
            border: 6px solid $color-dynamic;
        }
    }

    .text-small {
        font-size: 0.9rem !important;
    }

    .f-18 {
        font-size: 18px;
    }

    .f-19 {
        font-size: 19px;
    }

    .custom-separator {
        width: 5rem;
        height: 6px;
        border-radius: 1rem;
    }

    .bg-default {
        background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2) !important;
    }

    .h6{
       font-size: 22px;
    }

    .h1{
        line-height: 20px;
        span{
            font-size: 24px;
        }

        .f-18 {
            font-size: 18px;
        }

        .f-19 {
            font-size: 19px;
        }
        
    }

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

section#contact {
    padding-bottom: 70px;

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;

        .title-gradient {
            background-image: -webkit-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For Chrome and Safari */
            background-image: -moz-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Fx (3.6 to 15) */
            background-image: -ms-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For pre-releases of IE 10*/
            background-image: -o-linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* For old Opera (11.1 to 12.0) */
            background-image: linear-gradient(right, $color-dynamic, $color-dynamic2);
            /* Standard syntax; must be last */
            color: transparent;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .phone{
        font-size: 65px;
    }

    .phone-input{
        background: #dbdbdb;
        color: #292929;
        height: 75px;
        margin-bottom: 15px;
    }

    .phone-btn {
        border: 0px;
        height: 75px;
        font-size: 30px;
        margin: 0;
    }

    @media (max-width: $screen-sm) {

        .phone {
            font-size: 38px;
        }
    }

}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position:relative;
    padding:0px;
}
.close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
}

@media (max-width: $screen-xs) {
    .modal-dialog {
    padding: 20px;
}
    .close {
        position:absolute;
        right:0px;
        top:0;
        z-index:999;
        color:#000!important;
        background-color: #ffffff!important;
        width: 36px;
        height: 36px;
    }
}

footer#footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;
    background:#2a2a2a;
    color: $white;

    a {
        color: $white;
        font-size: 13px;

        &:hover {
            color: $color-dynamic;
        }
    }

    p {
        font-size: 13px;
    }

    h5 {
        font-weight: bold;
        font-size: 14px;
    }


    .copy{
        color: $white;
    }

    .dev{
        color: $white;
        text-align: left;
        a{
            font-weight: bold;
            color: $white;
        }
    }

    .redesocial{
        font-size: 28px;

        margin-right: 10px;

        margin-left: 5px;
    }

    @media (max-width: $screen-sm){
        .copy, .dev{
            text-align: center;
        }
    }
}